# Core
uvicorn==0.44.0
pydantic==2.13.2
pydantic-extra-types==2.11.1
pydantic-settings==2.14.0
python-dotenv==1.2.2
requests==2.33.1
FlagEmbedding==1.4.0

# LangChain
langchain
langchain-openai
langchain-community
langchain-qdrant

# Vector DB
qdrant-client==1.17.1
sentence-transformers==5.4.1
fastembed==0.8.0
fastembed-gpu==0.8.0

# Utilities
pyyaml==6.0.3
click==8.3.2
httpx==0.28.1
structlog==25.5.0

# Airflow Core
apache-airflow==3.2.0
apache-airflow-providers-amazon==9.25.0
apache-airflow-providers-qdrant==1.5.5
