# Core
fastapi
uvicorn[standard]
pydantic
python-dotenv

# LangChain
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-qdrant

# Vector DB
chromadb
qdrant-client

# Retrieval
rank_bm25
sentence-transformers
pypdf

# Utilities
pyyaml
click
httpx

#Mineru
uv
mineru[all]
qdrant-client
