apache-airflow-task-sdk
apache-airflow-providers-amazon
apache-airflow-providers-qdrant

#Core
uvicorn[standard]
pydantic
python-dotenv
requests

# LangChain
langchain
langchain-openai
langchain-community
langchain-qdrant

# Vector DB
qdrant-client

# Utilities
pyyaml
click
httpx

