# Vector DB
qdrant-client==1.17.1
pendulum==3.2.0
apache-airflow==3.2.0
apache-airflow-providers-amazon==9.25.0
apache-airflow-providers-qdrant==1.5.5

# Core
uvicorn==0.44.0
pydantic==2.13.2
pydantic-extra-types==2.11.1
pydantic-settings==2.14.0
python-dotenv==1.2.2
requests==2.33.1

# LangChain
langchain
langchain-openai
langchain-community
langchain-qdrant

# Utilities
pyyaml==6.0.3
click==8.3.2
httpx==0.28.1
structlog==25.5.0

# sentence_transformers
sentence-transformers==5.4.1
FlagEmbedding==1.4.0
fastembed==0.8.0
fastembed-gpu==0.8.0

# ONNX Runtime for GPU
onnxruntime-gpu

# Additional Airflow providers
apache-airflow-providers-http==6.0.2
apache-airflow-providers-smtp==2.4.5
apache-airflow-providers-common-compat==1.14.3
apache-airflow-providers-common-io==1.7.2
apache-airflow-providers-common-sql==1.34.0
apache-airflow-providers-standard==1.12.3
